name: Publish to TestPyPI and PyPI

on:
  push:
    branches:
      - main
    tags:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build sdist
        run: pipx run build
      - uses: actions/upload-artifact@v6
        with:
          name: source-dist
          path: ./dist/*
  test-sdist:
    name: Test sdist
    needs: [build-sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: source-dist
          path: ./dist
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install sdist without optional dependencies
        run: pip install dist/*.tar.gz
      - run: python -c 'import fracridge; print(fracridge.__version__)'
      - name: Install pytest
        run: pip install pytest
      - name: Run tests
        run: pytest -v --pyargs fracridge
  pre-publish:
    runs-on: ubuntu-latest
    needs: [test-sdist]
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist/
          pattern: '*-dist'
          merge-multiple: true
      - run: ls -lR dist/
      - run: pipx run twine check dist/*

  test-pypi-publish:
    runs-on: ubuntu-latest
    needs: [pre-publish]
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist/
          pattern: '*-dist'
          merge-multiple: true
      - run: ls -lR dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verbose: true

  pypi-publish:
    runs-on: ubuntu-latest
    environment: "Package deployment"
    needs: [pre-publish]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist/
          pattern: '*-dist'
          merge-multiple: true
      - run: ls -lR dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
